@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.mukta-medium {
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mukta-semibold {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  @apply mukta-medium;
  background-color: var(--light-color);
  color: var(--dark-color);
  box-sizing: border-box;
}
